.primary_btn {
    width: fit-content;
    box-shadow: none;
    text-transform: none;
    padding: 6px 12px;
    border: 1px solid;
    line-height: 1.5;
    background-color: $primary-color;
    border-color: $primary-color;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
    border-radius: 4px;
    
    &:hover {
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border-color: $primary-color;
        color: $primary-color;
        opacity: 1;
    }
}

.primary_outline_btn {
    width: fit-content;
    box-shadow: none;
    text-transform: none;
    padding: 6px 12px;
    border: 1px solid;
    line-height: 1.5;
    background: none;
    border-color: $primary-color;
    z-index: 2;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    letter-spacing: 0px;
    color: $primary-color;
    opacity: 1;
    border-radius: 4px;
    
    &:hover {
        cursor: pointer;
        outline: none;
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
        opacity: 1;
    }
}

.danger_btn  {
    width: fit-content;
    box-shadow: none;
    text-transform: none;
    padding: 6px 12px;
    border: 1px solid;
    line-height: 1.5;
    background-color: $text-danger;
    border-color: $text-danger;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
    border-radius: 4px;
    
    &:hover {
        cursor: pointer;
        outline: none;
        background-color: $white;
        border-color: $text-danger;
        color: $text-danger;
        opacity: 1;
    }
}
.danger_btn_outline {
    box-shadow: none;
    text-transform: none;
    padding: 6px 12px;
    border: 1px solid;
    line-height: 1.5;
    background-color: $white;
    border-color: $text-danger;
    z-index: 2;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    letter-spacing: 0px;
    color: $text-danger;
    opacity: 1;
    border-radius: 4px;
    &:hover {
        cursor: pointer;
        outline: none;
        background-color: $text-danger;
        border-color: $text-danger;
        color: $white;
        opacity: 1;
    }
}




// label button
.primary_label_sm{
    width: fit-content;
    box-shadow: none;
    text-transform: none;
    padding: 4px 10px;
    line-height: 1.5;
    background-color: rgba($color: $primary-color, $alpha: 0.1);
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 0px;
    color: $primary-color;
    opacity: 1;
    border-radius: 4px;
    font-size: 14px;
}




.rounded_4 {
    border-radius: 4px;
}
.rounded_10 {
    border-radius: 6px;
}
.rounded_15 {
    border-radius: 6px;
}
.rounded_18 {
    border-radius: 18px;
}
.rounded_200 {
    border-radius: 200px;
}

.btn_carben_geen_2op {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: $alpha-2;
    border-radius: 30px;
    color: $primary-color;
}
.btn_red_2op {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(255, 51, 65, 0.2) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    color: $red-froly;
}






.box_shadow {
    box-shadow: 0px 3px 20px #0844a63c;
}
.width_fit_content {
    width: fit-content;
}
.width_150px {
    width: 150px;
}
.text_align_center {
    text-align: center;
}

.border_bottom_1_20C08F {
    border-bottom: 1px solid #20c08f;
}
