.container_white_96per {
    width: $width-96per;
    background: $white 0% 0% no-repeat padding-box;
    
}
.container_white_99per {
    width: 99%;
    background: $white 0% 0% no-repeat padding-box;
    
}
.container_white_100per {
    width: 100%;
    background: $white 0% 0% no-repeat padding-box;
    
}
.container_red_100per {
    width: 100%;
    background: rgba(220, 43, 48, 0.16) 0% 0% no-repeat padding-box;
    
}
.container_mine_shaft_1op {
    background: rgba(34, 34, 34, 0.1) 0% 0% no-repeat padding-box;
    
}
.container_alpha_2 {
    width: 100%;
    background: var(--alpha-2)
    
}
.container_E1E7EF_100per {
    width: 100%;
    background: #f3f7fb 0% 0% no-repeat padding-box;
}
.container_F6F8FB_100per {
    width: 100%;
    background: #f6f8fb 0% 0% no-repeat padding-box;
}

.container_F4F7FC_100per {
    width: 100%;
    background: #F4F7FC 0% 0% no-repeat padding-box;
}



.modal_contant_container {
    width: $width-100per;
    
}
.modal_border_radius_15 {
    border-radius: 6px;
}
.container_80per {
    width: 80%;
    
}
.container_100per {
    width: 100%;
    
}
.container_96per {
    width: $width-96per;
    
}

.container_white_catskill {
    background-color: $white-catskill;
    
}
.container_w_226_h_134 {
    width: 226px;
    height: 134px;
    
}
.container_white_barley {
    background-color: $white-barley;
    
}
.container_white_catskill {
    background-color: $white-catskill;
    
}
.container_green_caribbean {
    width: 100%;
    background: $primary-color 0% 0% no-repeat padding-box;
    
}
.container_green_caribbean_01 {
    background: $alpha-1;
    
}
.container_white {
    background: $white 0% 0% no-repeat padding-box;
    
}
.height_30 {
    height: 30px;
}
.height_35 {
    height: 35px;
}
.height_40 {
    height: 40px;
}
.height_50 {
    height: 50px;
}
.height_60 {
    height: 60px;
}
.height_70 {
    height: 70px;
}
.height_100 {
    height: 100%;
}
.width_15 {
    width: 15%;
}
.width_20 {
    width: 20%;
}
.width_25 {
    width: 25%;
}
.width_30 {
    width: 30%;
}
.width_95 {
    width: 100%;
}
.width_30 {
    width: 30%;
}
.width_40 {
    width: 40%;
}
.width_45 {
    width: 45%;
}
.width_50 {
    width: 50%;
}
.width_53 {
    width: 53%;
}
.width_60 {
    width: 60%;
}
.width_65 {
    width: 65%;
}
.width_70 {
    width: 70%;
}
.width_80 {
    width: 80%;
}
.width_90 {
    width: 90%;
}
.width_100 {
    width: 100% !important;
}
.justify_content_left {
    justify-content: left !important;
}
.container_link_water {
    background: #f4f7fc 0% 0% no-repeat padding-box;
    
}
.text_align_last_left {
    text-align-last: left !important;
    
}
.text_align_last_center {
    text-align-last: center !important;
    
}
.error_message {
    color: $text-danger;
    
}
.succes_message {
    color:green
    
}
.position_relative {
    position: relative;
}

.border_E5EDF8 {
    border: 1px #e5edf8 solid;
}
.border_E9E9E9 {
    border: 1px #e9e9e9 solid;
}

.container_33 {
    width: 33px;
    height: 33px;
    
}

.width_160px {
    width: 160px !important;
}

.container_350_scroll {
    height: 350px;
    overflow-y: auto;
    
}
