.margin_top_5 {
    margin-top: $margin-5;
}
.margin_top_10 {
    margin-top: $margin-10 !important;
}
.margin_top_20 {
    margin-top: $margin-20 !important;
}
.margin_top_50{
    margin-top: $margin-50 !important;
}
.margin_top_80 {
    margin-top:80px
}
.margin_top_100{
    margin-top:100px
}
.margin_top_150{
    margin-top:150px;
}

.margin_left_20 {
    margin-left: $margin-20;
}
.margin_left_30 {
    margin-left: $margin-30;
}
.margin_left_5 {
    margin-left: $margin-5;
}
.margin_left_10 {
    margin-left: $margin-10;
}
.margin_right_10 {
    margin-right: $margin-10;
}
.margin_right_20 {
    margin-right: $margin-20;
}
.margin_bottom_20 {
    margin-bottom: $margin-20;
}
.margin_bottom_10 {
    margin-bottom: $margin-10;
}

.padding_bottom_10 {
    padding-bottom: $margin-10;
}

.padding_top_20 {
    padding-top: $margin-20;
}
.padding_left_20 {
    padding-left: $margin-20;
}
.padding_right_20 {
    padding-right: $margin-20;
}
.padding_bottom_20 {
    padding-bottom: $margin-20;
}
.padding_20 {
    padding: $margin-20;
}
.padding_10 {
    padding: $margin-10;
}
.padding_top_10 {
    padding-top: $margin-10;
}
.margin_top_m12 {
    margin-top: -12px;
}
