//MARGIN
$margin-5: 5px;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-30: 30px;
$margin-40: 40px;
$margin-50: 50px;

//PADDING
$padding-20: 20px;
$padding-50: 50px;

//FONT
$font-size-8: 8px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-21: 21px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-35: 35px;

//WIGTH
$width-40per: 40%;
$width-60per: 60%;
$width-80per: 80%;
$width-96per: 96%;
$width-100per: 100%;
$width-500: 500px;
$width-52: 52px;

//HEIGHT
$height-52: 52px;

//BREAK POINTS
$breakpoint-lg: 1919px;
$breakpoint-md: 1279px;
$breakpoint-sm: 959px;
$breakpoint-xs: 599px;

//Color
$primary-color: rgb(58, 179, 203);
$secondary-color: var(--secondary-color);
$heading-text: var(--heading-color);
$normal-text: var(--text-color);
$white: #ffffff;
$text-danger: #ff3341;
$red-froly: #f58d8d;
$white-catskill: #f6f8fb;
$white-barley: #fff3cd;
// alpha 
$alpha-1:    var(--alpha-1);
$alpha-2:    var(--alpha-2);
$alpha-3:    var(--alpha-3);
$alpha-4:    var(--alpha-4);
$alpha-5:    var(--alpha-5);
$alpha-6:    var(--alpha-6);
$alpha-7:    var(--alpha-7);
$alpha-8:    var(--alpha-8);
$alpha-9:    var(--alpha-9);

